main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#taskTable{
    width:100%;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid black;
}

td{
    text-align: center;
    padding: 10px;
}

#myButton{
    width:20%;
}

.statusButton{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}